@section style{
    <link rel="stylesheet" href="~/css/Error-Information.css" asp-append-version="true">
}
<img src="~/image/Banner/Opss.jpg" alt="" class="Page_banner">
<br />
<br />

<div class="container">
   <div class="row justify-content-center">
    <div class="col-md-5">
        <div class="message-box _success _failed">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <h2> Your payment failed </h2>
            <p>  Try again later </p>

        </div>
    </div>
</div>

</div> 