@using TwoGirls.Core.DTOs;
@model ChangePasswordViewModel


<form id="form-ChangePassword" method="post" asp-controller="UserPanel" asp-action="ChangePassword" onsubmit="return jQueryAjaxChangePassword(this);">
    <div class="p-3 py-5">
        <div id="succsessChangePass" class="alert alert-success d-none">
            Congratulations! Your password has been successfully changed.
        </div>
        <div id="FailedChangePass" class="alert alert-danger d-none">
            <h4 class="alert-heading">Oops!</h4>
            The password you entered is incorrect !
        </div>
        <p class="h3">Change Password</p>
        <input type="hidden" asp-for="Id"/>
        <div class="col-md-12 mt-2">
            <label class="form-label" asp-for="OldPassword">Old password</label>
            <input type="password" class="form-control" placeholder="Old password *" asp-for="OldPassword">
            <span asp-validation-for="OldPassword" class="text-tomato"></span>

        </div>
        <div class="col-md-12 mt-2">
            <label class="form-label" asp-for="Password">New Password</label>
            <input type="password" class="form-control" placeholder="New password *" asp-for="Password">
            <span asp-validation-for="Password" class="text-tomato"></span>

        </div>
        <div class="col-md-12 mt-2">
            <label class="form-label" asp-for="ConfirmPassword">Confirm Password</label>
            <input type="password" class="form-control" placeholder="Confirm password *" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" class="text-tomato"></span>

        </div>
        <div class="col-md-12 text-center mt-3">
            <button type="submit" class="btn btn-warning w-100">Change Password</button>
        </div>
    </div>
</form>
