@using TwoGirls.Core.DTOs;
@model UserAvatarViewModel

@{
    Layout = null;
}
<div id="succsessChangeAvatar" class="alert alert-success d-none">
    Congratulations! Your Avatar has been successfully changed.
</div>
<form id="form-AddAvatar" method="post" asp-action="ChangeAvatar" asp-controller="UserPanel" onsubmit=" return jQueryAjaxPostAvatar(this)">
    <input type="hidden" asp-for="ImagePath"/>
    <div class="container mt-4">
        <div class="user-profile">
            <img id="user-avatar-image" class="rounded-circle border" width="200" height="200" src="@Model.ImagePath">
            <div class="overlay">
                <input class="Pointer" id="avatar-user-input" asp-for="NewImage" accept="image/*" type="file">
                <p class="Pointer">ChangePicture</p>
            </div>
        </div>
    </div>
    <span asp-validation-for="NewImage" class="text-tomato"></span>
    <input id="user-avatar-btn-submit" class="btn btn-warning d-none" type="submit" value="Save Change" />
</form>

<span class="font-weight-bold">@Model.FullName</span>
<br />
<span class="text-black-50">@Model.Email</span>