@model TwoGirls.Core.DTOs.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}
@section style{
    <link rel="stylesheet" href="~/css/Account-Style.css" asp-append-version="true">
}
@{
    var alertStatus = ViewBag.isSuccess;
    var alertText = ViewBag.alertText;
}
<img src="~/image/loginheader.jpg" alt="" class="Page_banner">
<div class="container-xl my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
        </ol>
    </nav>
    <div class=" row">
        <section class="col-12 col-md-7 mb-5">
            @if (alertStatus != null)
            {
                @if (alertStatus)
                {
                    <div class="alert alert-success">
                        @alertText
                    </div>
                        <script>
                            var delay = 3000;
                            setTimeout(() => {
                            window.location = "https://localhost:7185/Account/Login";
                            }, delay);
                        </script>
                }
                else if (alertStatus == false)
                {
                    <div class="alert alert-danger">
                        <h4 class="alert-heading">Oops!</h4>
                        @alertText
                    </div>
                }
            }
          
            <p class="h1">Reset Password</p>
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="ActiveCode" />
                <div class="mb-3">
                    <label asp-for= "Password" class="form-label">Password *</label>
                    <input asp-for= "Password" type="password" placeholder="Password *" class="form-control">
                    <span asp-validation-for="Password" class="text-tomato"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password *</label>
                    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password *" class="form-control">
                    <span asp-validation-for="ConfirmPassword" class="text-tomato"></span>
                </div>
               
                <button type="submit" class="btn-login"> Change Password </button>

            </form>

        </section>
        <section class="col-12 col-md-5">
            <p class="h2">Are you not registered?</p>
            <p class="fw-bolder">Register now to enjoy a unique shopping experience.</p>
            <ul class="sign-in-benefit">
                <li>
                    <i class="fa-regular fa-user"></i>
                    <p>Check the details and monitor the status of your orders and returns</p>
                </li>
                <li>
                    <i class="fa-regular fa-heart"></i>
                    <p>Create wishlists to save and share your favorite items</p>
                </li>
                <li>
                    <i class="fa-regular fa-star"></i>
                    <p>View your private appointments and repairs requests </p>
                </li>
            </ul>
            <a class="btn-create-new-account" asp-area="" asp-controller="Account" asp-action="Register">CREATE NEW ACCOUNT</a>
        </section>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}