@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - twoGirlsOnlineShop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true">
    @await RenderSectionAsync("Style", required: false)
</head>
<body>
    <!-- navbar  -->
    <div id="myNavbar" class="">
        <div class="nav-backgroung">
            <div class="d-flex flex-row px-auto flex-wrap container-xxl">

                <!-- navbar menu  -->
                <nav class=" d-block navbar p-0 navbar-dark navbar-expand-sm order-5 order-lg-1 col-12 col-lg-8 ">
                    <div id="navbarMenu" class=" collapse navbar-collapse">
                        <a asp-action="Index" asp-controller="Home" class="nav-item navbar-brand d-none d-lg-block  ps-3">
                            <img class=" nav-logo"
                                 src="~/image/twogirls.png" alt="imagelogo">
                        </a>
                        <div class="navbar-nav d-flex flex-fill justify-content-around  ">
                            <div id="divEYEGLASSES">
                                <a class="nav-item nav-link text-light underline-hover-efect text-nowrap collapsed"
                                   href="#dropdownEYEGLASSES" data-bs-toggle="collapse" aria-expanded="false"
                                   aria-controls="dropdownEYEGLASSES">
                                    EYEGLASSES <i class="fa-solid fa-caret-down text-light ms-2"></i>
                                </a>
                            </div>

                            <div id="divSUNGLASSES" class="">
                                <a class="nav-item nav-link text-light underline-hover-efect text-nowrap collapsed"
                                   href="#dropdownSUNGLASSES" data-bs-toggle="collapse" aria-expanded="false"
                                   aria-controls="dropdownSUNGLASSES">
                                    SUNGLASSES <i id="fa-caret-down accordion-button"
                                                  class="fa-solid fa-caret-down text-light ms-2 "></i>
                                </a>

                            </div>

                            <a class="nav-item nav-link text-light underline-hover-efect text-nowrap" href="#">
                                LENSES
                            </a>

                            <div id="divBRANDS" class="">
                                <a class="nav-item nav-link text-light underline-hover-efect text-nowrap collapsed"
                                   href="#dropdownBRANDS" data-bs-toggle="collapse" aria-expanded="false"
                                   aria-controls="dropdownBRANDS">
                                    BRANDS<i class="fa-solid fa-caret-down text-light ms-2 "></i>
                                </a>
                            </div>

                            <a asp-action="index" asp-controller="Admin" class="nav-item nav-link text-light underline-hover-efect text-nowrap">
                                EYE
                                EXAM
                            </a>
                        </div>

                    </div>
                </nav>
                <!-- navbar menu end  -->
                <!-- navbar searchBox  -->
                <div class=" order-2  d-flex  col-12 col-sm-6 col-lg-2 justify-content-end align-items-center">
                    <div class="searchBox input-group input-group-sm  w-100  rounded shadow-sm mx-4" id="searchBox">
                        <input type="text" class="form-control border-0 my-1 p-lg-1" placeholder=" Search...">
                        <button class="btn bg-white border-0 my-1" type="button" id="button-addon2">
                            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
                <!-- navbar searchBox end  -->
                <!-- navbar Icons -->
                <div id="navbarIcons"
                     class=" order-1 order-sm-3 d-flex  col-12 col-sm-6 col-lg-2 justify-content-between align-items-center">

                    <button class="navbar-toggler d-sm-none border-0 " type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarMenu">
                        <i class="fa-sharp fa-solid fa-bars nav-icon text-light"></i>
                    </button>
                    <a id="searchIcon" class="btn text-white d-sm-none">
                        <i class="fa-sharp fa-solid fa-magnifying-glass nav-icon text-light  fa-search"></i>
                    </a>
                    <div>
                        <a class="btn text-white " href="#" role="button" id="languageBtn" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="~/image/flag/cz.webp" class="lang-logo" alt="">
                        </a>
                        <ul id="languageDropdown" class="dropdown-menu dropdown-menu-dark bg-verydark"
                            aria-labelledby="languageBtn">
                            <li>
                                <a class="dropdown-item active" href="#">
                                    <img src="~/image/flag/cz.webp"
                                         class="lang-logo" alt="">
                                    Czech Republic(CZK)
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/image/flag/gb.webp" class="lang-logo"
                                         alt="">
                                    United
                                    Kingdom(ENG)
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/image/flag/um.webp" class="lang-logo"
                                         alt="">
                                    United
                                    States(ENG)
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    <img src="~/image/flag/ir.webp" class="lang-logo"
                                         alt="">
                                    Iran(PER)
                                </a>
                            </li>
                        </ul>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            <a class="btn profile-btn text-white text-uppercase border rounded-circle" href="#" role="button" id="accountBtn" data-bs-toggle="dropdown"
                            aria-expanded="false">
                                    @User.Identity.Name.FirstOrDefault().ToString()@User.FindFirstValue(ClaimTypes.Surname).FirstOrDefault()
                                
                            </a>
                            <ul id="AccountDropdown" class="dropdown-menu dropdown-menu-dark bg-verydark"
                                aria-labelledby="profileBtn">
                                <li>
                                    <a class="dropdown-item disabled"  asp-controller="Account" asp-action="Login">
                                        <i class="fa-solid fa-arrow-right-to-bracket"></i> Login
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Index">
                                        <i class="fa fa-user" aria-hidden="true"></i> My Account
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                                        <i class="fa-solid fa-circle-xmark"></i> Logout
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-gear" aria-hidden="true"></i>
                                        Settings
                                    </a>
                                </li>
                            </ul>
                        </div>

                    }
                    else
                    {
                        <a asp-area="" asp-controller="Account" asp-action="Login" class="btn  text-white ">
                            <i class="fa-regular fa-user nav-icon text-light "></i>
                        </a>
                    }
                    <img class="d-lg-none order-sm-1 nav-logo" src="~/image/twogirls.png" alt="imagelogo">
                    <a asp-area="" asp-controller="Product" asp-action="Favorite" class="btn text-white position-relative">
                        <i class="fa-regular fa-heart nav-icon text-light"></i>
                        <span class="rounded-pill badge text-white">1+</span>
                    </a>
                   
              
                    <div class="collapse-container">
                        <a href="#basketDropdown" class="position-relative btn text-white collapse-toggle" role="button">
                            <i class="fa-brands fa-shopify nav-icon text-light"></i>
                            <span class="rounded-pill badge text-white">1+</span>
                        </a>
                        <div id="basketDropdown" class="position-absolute top-100 collapse-content collapse" aria-labelledby="basketBtn">
                            <div class="d-flex justify-content-between">
                                <div></div>
                                <div class="basket">
                                    <div class="app-bar">
                                        <img src="~/image/Twogirls-logo-dark.PNG" class="logo">
                                    </div>
                                    <span class="title">Your cart</span>
                                    <div id="update-card-component">
                                        @await Component.InvokeAsync("CardComponent")
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- navbar Icons end -->

            </div>
        </div>
        <!-- navbar dropdowns  -->
        <div id="myGroup" class="container-xl bg-transparent">
            <div class="collapse bg-dark" id="dropdownEYEGLASSES" data-bs-parent="#myGroup">

                <div class=" bg-white row d-flex m-0 ">

                    <div class="p-2 col-12 col-sm-4 col-md-3">
                        <a class="fw-bolder bg-white ms-3 mb-0 collapsible">
                            Men's<i class="fa-solid fa-caret-down d-sm-none ms-2"></i>
                        </a>
                        <ul class="list-group  p-0 list-group-flush collapscontent">
                            <li class="list-group-item "><a href=""> New Collection</a></li>
                            <li class="list-group-item"><a href=""> Most Visited</a></li>
                            <li class="list-group-item"><a href=""> Best Sellers</a></li>
                            <li class="list-group-item text-danger"><a href=""> Discounted</a></li>
                        </ul>

                    </div>

                    <div class="p-2 col-12 col-sm-4 col-md-3">
                        <a class="  fw-bolder bg-white ms-3 mb-0 collapsible">
                            Women's<i class="fa-solid fa-caret-down d-sm-none ms-2"></i>
                        </a>
                        <ul class="list-group  p-0 list-group-flush collapscontent">
                            <li class="list-group-item "><a href=""> New Collection</a></li>
                            <li class="list-group-item"><a href=""> Most Visited</a></li>
                            <li class="list-group-item"><a href=""> Best Sellers</a></li>
                            <li class="list-group-item text-danger"><a href=""> Discounted</a></li>
                        </ul>

                    </div>

                    <div class="p-2 col-12 col-sm-4 col-md-4">

                        <a class="  fw-bolder bg-white ms-3 mb-0 collapsible">
                            Featured Categories <i class="fa-solid fa-caret-down d-sm-none ms-2"></i>
                        </a>
                        <ul class="list-group  p-0 list-group-flush collapscontent">
                            <li class="list-group-item "><a href=""> Fashion and Trends</a></li>
                            <li class="list-group-item"><a href=""> Designer Outlet</a></li>
                            <li class="list-group-item"><a href=""> Sports Glasses</a></li>
                            <li class="list-group-item "><a href=""> Glasses for Couples</a></li>
                        </ul>
                    </div>

                    <div class=" p-2 d-none d-md-block col-md-2">
                        <img class="img-fluid rounded-5 " src="~/image/item-one.jpg" alt="">
                        <p class="bg-white text-wrap">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                            aut!
                        </p>
                    </div>

                </div>
            </div>

            <div class="collapse " id="dropdownSUNGLASSES" data-bs-parent="#myGroup">

                <div class=" bg-white row d-flex m-0 ">

                    <div class="p-2 col-12 col-sm-4 col-md-3">
                        <a class="fw-bolder bg-white ms-3 mb-0 collapsible">
                            Men's<i class="fa-solid fa-caret-down d-sm-none ms-2"></i>
                        </a>
                        <ul class="list-group  p-0 list-group-flush collapscontent">
                            <li class="list-group-item "><a href=""> New Collection</a></li>
                            <li class="list-group-item"><a href=""> Most Visited</a></li>
                            <li class="list-group-item"><a href=""> Best Sellers</a></li>
                            <li class="list-group-item text-danger"><a href=""> Discounted</a></li>
                        </ul>

                    </div>

                    <div class="p-2 col-12 col-sm-4 col-md-3">
                        <a class="  fw-bolder bg-white ms-3 mb-0 collapsible">
                            Women's<i class="fa-solid fa-caret-down d-sm-none ms-2"></i>
                        </a>
                        <ul class="list-group  p-0 list-group-flush collapscontent">

                            <li class="list-group-item "><a href=""> New Collection</a></li>
                            <li class="list-group-item"><a href=""> Most Visited</a></li>
                            <li class="list-group-item"><a href=""> Best Sellers</a></li>
                            <li class="list-group-item text-danger"><a href=""> Discounted</a></li>
                        </ul>

                    </div>

                    <div class="p-2 col-12 col-sm-4 col-md-4">

                        <a class="  fw-bolder bg-white ms-3 mb-0 collapsible">
                            Featured Categories <i class="fa-solid fa-caret-down d-sm-none ms-2"></i>
                        </a>
                        <ul class="list-group  p-0 list-group-flush collapscontent">
                            <li class="list-group-item "><a href=""> Fashion and Trends</a></li>
                            <li class="list-group-item"><a href=""> Designer Outlet</a></li>
                            <li class="list-group-item"><a href=""> Sports Glasses</a></li>
                            <li class="list-group-item "><a href=""> Glasses for Couples</a></li>
                        </ul>
                    </div>

                    <div class=" p-2 d-none d-md-block col-md-2">
                        <img class="img-fluid rounded-5 " src="~/image/item-one.jpg" alt="">
                        <p class="bg-white text-wrap">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
                            aut!
                        </p>
                    </div>

                </div>

            </div>

            <div class="collapse position-relative bg-white wrapper " id="dropdownBRANDS" data-bs-parent="#myGroup">

                <div class="overflow-hidden custom-carousel flex-nowrap row m-0 ">

                    <div class="zz col-2 col-sm-1 custom-carousel-item">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/chanel.jpg" alt=""
                             draggable="false">

                    </div>

                    <div class=" col-2 col-sm-1 custom-carousel-item">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Dior.png" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Dolce&Gabbana.jpg"
                             alt="" draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Fendi.jpg" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Gucci.jpg" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Jimmy_Choo.png" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Louis-Vuitton.jpg"
                             alt="" draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Reyban.jpg" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item ">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Tomford.jpg" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/chanel.jpg" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item ">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Dior.png" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item ">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Dolce&Gabbana.jpg"
                             alt="" draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item ">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Fendi.jpg" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item ">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Gucci.jpg" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item ">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Jimmy_Choo.png" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item ">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Louis-Vuitton.jpg"
                             alt="" draggable="false">
                    </div>


                    <div class="col-2 col-sm-1 custom-carousel-item ">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Reyban.jpg" alt=""
                             draggable="false">
                    </div>

                    <div class="col-2 col-sm-1 custom-carousel-item ">
                        <img class="img-fluid p-1 p-lg-3 px-xxl-4 rounded-2" src="~/image/brand/Tomford.jpg" alt=""
                             draggable="false">
                    </div>

                </div>
            </div>
        </div>
        <!-- navbar dropdowns end -->
    </div>
    <!-- navbar end  -->
    <div id="form-modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <main role="main">
        @RenderBody()
    </main>

    <footer id="footer" class=" bg-verydark ">
        <div class="container-xl p-0 ">
            <div class="row m-0">
                <div class="col-12 col-md-8 bg-verydark row m-0">

                    <div class=" col-sm-4 p-2 text-white-50 bg-verydark">
                        <a class="h6  p-2 text-white-50  collapsible">
                            MAY WE HELP YOU? <i class="fa-solid fa-caret-down d-sm-none text-white-50 ms-2"></i>
                        </a>
                        <ul class="mt-1 list-group list-group-flush collapscontent" id="collapseHELP">
                            <li class="list-group-item"><a href="#" class="underline-hover-efect "> FAQs</a></li>
                            <li class="list-group-item"><a href="#" class="underline-hover-efect ">Contact Us</a></li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">Email Unsubscribe</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">Payment Options</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">Shipping Services</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">
                                    Returns &
                                    Exchanges
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">Corporate Gifting</a>
                            </li>
                            <li class="list-group-item"><a href="#" class="underline-hover-efect ">Product Care</a></li>
                            <li class="list-group-item"><a href="#" class="underline-hover-efect ">Sitemap</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-4 p-2 text-white-50 bg-verydark">
                        <a class="h6 p-2 text-white-50 collapsible">
                            THE COMPANY <i class="fa-solid fa-caret-down d-sm-none text-white-50 ms-2"></i>
                        </a>
                        <ul class="mt-1 list-group list-group-flush collapscontent" id="collapseCOMPANY">
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">About TwoGirls</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect "> TwoGirls Garden</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">
                                    TwoGirls
                                    Equilibrium
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect "> Code of Ethics</a>
                            </li>
                            <li class="list-group-item"><a href="#" class="underline-hover-efect "> Careers</a></li>
                            <li class="list-group-item"><a href="#" class="underline-hover-efect "> Legal</a></li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">
                                    Privacy & Cookie
                                    Policy
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">
                                    Corporate
                                    Information
                                </a>
                            </li>
                        </ul>
                    </div>


                    <div class="col-sm-4 p-2 text-white-50 bg-verydark">
                        <a class="h6 text-white-50 p-2 collapsible">
                            FIND US ON <i class="fa-solid fa-caret-down d-sm-none text-white-50 ms-2"></i>
                        </a>
                        <ul class="mt-1 list-group list-group-flush collapscontent" id="collapseFindUs">
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">
                                    <i class="fa-brands fa-square-facebook p-1"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">
                                    <i class="fa-brands fa-twitter p-1"></i> Twitter
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">
                                    <i class="fa-brands fa-instagram p-1"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="underline-hover-efect ">
                                    <i class="fa-brands fa-square-youtube p-1"></i>
                                    YouTube
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-12 col-md-4 text-white-50 bg-verydark">
                    <p class="h6 p-2">SIGN UP FOR TwoGirls UPDATES</p>
                    <p class="h6 p-2">
                        By entering your email address below, you consent to receiving our newsletter with
                        access to
                        our latest collections, events and initiatives. More details on this are provided in our <a class="text-danger" href="#"> Privacy Policy </a>
                    </p>


                    <div class="ps-2 col-8 ">
                        <div class="input-group">
                            <input type="email" placeholder="Email..."
                                   class="bg-dark form-control-sm text-white-50 col-9 col-md-9 border-0"
                                   aria-describedby="button-email">
                            <button class="btn btn-dark col-2 text-end pe-3" type="button" id="button-email">
                                <i class=" border-0 text-white-50 fa-regular fa-envelope "></i>
                            </button>
                        </div>
                    </div>


                </div>
            </div>
            <div class="footer-ul p-2">
                <a class=" m-0 d-block text-center text-white-50 bg-verydark">
                    © 2016 - 2021 Twogirls S.p.A. - All rights
                    reserved. G Commerce Europe S.p.A. - IT VAT nr 05142860484. SIAE LICENCE # 2294/I/1936 and
                    5647/I/1936
                </a>
            </div>

        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4ab1c0077a.js" crossorigin="anonymous"></script>
    <script src="~/js/javascript.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
