@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div class="cart-item">
    <div class="left">
        <div class="cart-image">
            <div class="image-wrapper"><img src="~/image/sunglasses/e2.webp" class="image"></div>
        </div>
    </div>
    <div class="right">
        <div class="name">Nike Renew Ride</div>
        <div class="price">$60.97</div>
        <div class="count">
            <div class="button"><i class="fa-solid fa-plus"></i></div>
            <div class="number">1</div>
            <div class="button"><i class="fa-solid fa-minus"></i></div>
        </div>
    </div>
</div>
<div class="cart-item">
    <div class="left">
        <div class="cart-image">
            <div class="image-wrapper">
                <img src="~/image/sunglasses/f2.webp" class="image" alt="">
            </div>
        </div>
    </div>
    <div class="right">
        <div class="name">Nike Vaporfly 4% Flyknit</div>
        <div class="price">$187.97</div>
        <div class="count">
            <div class="button"><i class="fa-solid fa-plus"></i></div>
            <div class="number">1</div>
            <div class="button"><i class="fa-solid fa-minus"></i></div>
        </div>
    </div>
</div>
<div class="cart-item">
    <div class="left">
        <div class="cart-image">
            <div class="image-wrapper"><img src="~/image/sunglasses/a2.webp" class="image"></div>
        </div>
    </div>
    <div class="right">
        <div class="name">Nike Zoom Fly 3 Premium</div>
        <div class="price">$160</div>
        <div class="count">
            <div class="button"><i class="fa-solid fa-plus"></i></div>
            <div class="number">1</div>
            <div class="button"><i class="fa-solid fa-minus"></i></div>
        </div>
    </div>
</div>




<!--sliderrrrrrrrrrrrr-->



<div class="card custom-carousel-item position-relative border-0">
    <div class="d-flex justify-content-between">
        <p class="ms-4 sunglasses-title">Reyban Genwux 941</p>

        <i class="favoriteIcon fa-regular nav-icon fa-heart  text-warning"></i>

    </div>
    <div class="">
        <img src="~/image/sunglasses/a1.webp" onmouseover="secondImg(this,'a')"
             onmouseleave="FirstImg(this,'a')"
             class="card-img-top custom-carousel-image img-fluid rounded-2" alt="...">

    </div>
    <img src="~/image/for-sale.png" class="position-absolute top-0 start-0 " style="width: 3vw;"></img>

    <div class="card-body p-0 d-flex justify-content-between border-1">

        <div class="align-items-end">
            <small class="discountedPrice">$1200</small>
            <p class="Price"><small>$</small>8840005</p>
        </div>
        <div>

            <div class="rate d-inline-flex flex-nowrap align-items-start justify-content-start">

                <input type="radio" name="ratel" value="5" />
                <input type="radio" name="ratel" value="4.5" />
                <input type="radio" name="ratel" value="4" />
                <input type="radio" name="ratel" value="3.5" />
                <input type="radio" name="ratel" value="3" />
                <input type="radio" name="ratel" value="2.5" />
                <input type="radio" name="ratel" value="2" />
                <input type="radio" name="ratel" value="1.5" />
                <input type="radio" name="ratel" value="1" />
                <input type="radio" name="ratel" value="0.5" />

            </div>

        </div>

    </div>
    <button class="add-to-cart">
        <span>Add to cart</span>
        <i class="fa-solid fa-cart-arrow-down"></i>
    </button>
</div>
<div class="card custom-carousel-item position-relative border-0">
    <div class="d-flex justify-content-between">
        <p class="ms-4 sunglasses-title">Reyban Genwux 941</p>

        <i class="favoriteIcon fa-regular nav-icon fa-heart  text-warning"></i>

    </div>
    <div class="">
        <img src="~/image/sunglasses/b1.webp" onmouseover="secondImg(this,'b')"
             onmouseleave="FirstImg(this,'b')" alt="..."
             class="card-img-top custom-carousel-image img-fluid rounded-2">

    </div>
    <img src="~/image/for-sale.png" class="position-absolute top-0 start-0 " style="width: 3vw;"></img>

    <div class="card-body p-0 d-flex justify-content-between border-1">

        <div class="align-items-end">
            <small class="discountedPrice">$1100</small>
            <p class="Price"><small>$</small>8745</p>
        </div>
        <div>

            <div class="rate d-inline-flex flex-nowrap align-items-start justify-content-start">

                <input type="radio" name="rateV" value="5" />
                <input type="radio" name="rateV" value="4.5" />
                <input type="radio" name="rateV" value="4" />
                <input type="radio" name="rateV" value="3.5" />
                <input type="radio" name="rateV" value="3" />
                <input type="radio" name="rateV" value="2.5" />
                <input type="radio" name="rateV" value="2" />
                <input type="radio" name="rateV" value="1.5" />
                <input type="radio" name="rateV" value="1" />
                <input type="radio" name="rateV" value="0.5" />

            </div>

        </div>

    </div>
    <button class="add-to-cart">
        <span>Add to cart</span>
        <i class="fa-solid fa-cart-arrow-down"></i>
    </button>
</div>
<div class="card custom-carousel-item position-relative border-0">
    <div class="d-flex justify-content-between">
        <p class="ms-4 sunglasses-title">Reyban Genwux 941</p>

        <i class="favoriteIcon fa-regular nav-icon fa-heart  text-warning"></i>

    </div>
    <div class="">
        <img src="~/image/sunglasses/e1.webp" onmouseover="secondImg(this,'e')"
             onmouseleave="FirstImg(this,'e')" alt="..."
             class="card-img-top custom-carousel-image img-fluid rounded-2">

    </div>
    <img src="~/image/for-sale.png" class="position-absolute top-0 start-0 " style="width: 3vw;"></img>

    <div class="card-body p-0 d-flex justify-content-between border-1">

        <div class="align-items-end">
            <small class="discountedPrice">$1300</small>
            <p class="Price"><small>$</small>9745</p>
        </div>
        <div>

            <div class="rate d-inline-flex flex-nowrap align-items-start justify-content-start">

                <input type="radio" name="rateV" value="5" />
                <input type="radio" name="rateV" value="4.5" />
                <input type="radio" name="rateV" value="4" />
                <input type="radio" name="rateV" value="3.5" />
                <input type="radio" name="rateV" value="3" />
                <input type="radio" name="rateV" value="2.5" />
                <input type="radio" name="rateV" value="2" />
                <input type="radio" name="rateV" value="1.5" />
                <input type="radio" name="rateV" value="1" />
                <input type="radio" name="rateV" value="0.5" />

            </div>

        </div>

    </div>
    <button class="add-to-cart">
        <span>Add to cart</span>
        <i class="fa-solid fa-cart-arrow-down"></i>
    </button>
</div>
<div class="card custom-carousel-item position-relative border-0">
    <div class="d-flex justify-content-between">
        <p class="ms-4 sunglasses-title">Reyban Genwux 941</p>

        <i class="favoriteIcon fa-regular nav-icon fa-heart  text-warning"></i>

    </div>
    <div class="">
        <img class="card-img-top custom-carousel-image img-fluid rounded-2"
             src="~/image/sunglasses/c1.webp" onmouseover="secondImg(this,'c')"
             onmouseleave="FirstImg(this,'c')" alt="...">

    </div>
    <img src="~/image/for-sale.png" class="position-absolute top-0 start-0 " style="width: 3vw;"></img>

    <div class="card-body p-0 d-flex justify-content-between border-1">

        <div class="align-items-end">
            <small class="discountedPrice">$1500</small>
            <p class="Price"><small>$</small>12745</p>
        </div>
        <div>

            <div class="rate d-inline-flex flex-nowrap align-items-start justify-content-start">

                <input type="radio" name="rateV" value="5" />
                <input type="radio" name="rateV" value="4.5" />
                <input type="radio" name="rateV" value="4" />
                <input type="radio" name="rateV" value="3.5" />
                <input type="radio" name="rateV" value="3" />
                <input type="radio" name="rateV" value="2.5" />
                <input type="radio" name="rateV" value="2" />
                <input type="radio" name="rateV" value="1.5" />
                <input type="radio" name="rateV" value="1" />
                <input type="radio" name="rateV" value="0.5" />

            </div>

        </div>

    </div>
    <button class="add-to-cart">
        <span>Add to cart</span>
        <i class="fa-solid fa-cart-arrow-down"></i>
    </button>
</div>
<div class="card custom-carousel-item position-relative border-0">
    <div class="d-flex justify-content-between">
        <p class="ms-4 sunglasses-title">Reyban Genwux 941</p>

        <i class="favoriteIcon fa-regular nav-icon fa-heart  text-warning"></i>

    </div>
    <div class="">
        <img src="~/image/sunglasses/f1.webp" onmouseover="secondImg(this,'f')"
             onmouseleave="FirstImg(this,'f')" alt="..."
             class="card-img-top custom-carousel-image img-fluid rounded-2">

    </div>
    <img src="~/image/for-sale.png" class="position-absolute top-0 start-0 " style="width: 3vw;"></img>

    <div class="card-body p-0 d-flex justify-content-between border-1">

        <div class="align-items-end">
            <small class="discountedPrice">$1110</small>
            <p class="Price"><small>$</small>675</p>
        </div>
        <div>

            <div class="rate d-inline-flex flex-nowrap align-items-start justify-content-start">

                <input type="radio" name="rateV" value="5" />
                <input type="radio" name="rateV" value="4.5" />
                <input type="radio" name="rateV" value="4" />
                <input type="radio" name="rateV" value="3.5" />
                <input type="radio" name="rateV" value="3" />
                <input type="radio" name="rateV" value="2.5" />
                <input type="radio" name="rateV" value="2" />
                <input type="radio" name="rateV" value="1.5" />
                <input type="radio" name="rateV" value="1" />
                <input type="radio" name="rateV" value="0.5" />

            </div>

        </div>

    </div>
    <button class="add-to-cart">
        <span>Add to cart</span>
        <i class="fa-solid fa-cart-arrow-down"></i>
    </button>
</div>
<div class="card custom-carousel-item position-relative border-0">
    <div class="d-flex justify-content-between">
        <p class="ms-4 sunglasses-title">Reyban Genwux 941</p>

        <i class="favoriteIcon fa-regular nav-icon fa-heart  text-warning"></i>

    </div>
    <div class="">
        <img src="~/image/sunglasses/g1.webp" onmouseover="secondImg(this,'g')"
             onmouseleave="FirstImg(this,'g')" alt="..."
             class="card-img-top custom-carousel-image img-fluid rounded-2">

    </div>
    <img src="~/image/for-sale.png" class="position-absolute top-0 start-0 " style="width: 3vw;"></img>

    <div class="card-body p-0 d-flex justify-content-between border-1">

        <div class="align-items-end">
            <small class="discountedPrice">$12110</small>
            <p class="Price"><small>$</small>11675</p>
        </div>
        <div>

            <div class="rate d-inline-flex flex-nowrap align-items-start justify-content-start">

                <input type="radio" name="rateV" value="5" />
                <input type="radio" name="rateV" value="4.5" />
                <input type="radio" name="rateV" value="4" />
                <input type="radio" name="rateV" value="3.5" />
                <input type="radio" name="rateV" value="3" />
                <input type="radio" name="rateV" value="2.5" />
                <input type="radio" name="rateV" value="2" />
                <input type="radio" name="rateV" value="1.5" />
                <input type="radio" name="rateV" value="1" />
                <input type="radio" name="rateV" value="0.5" />

            </div>

        </div>

    </div>
    <button class="add-to-cart">
        <span>Add to cart</span>
        <i class="fa-solid fa-cart-arrow-down"></i>
    </button>
</div>
<div class="card custom-carousel-item position-relative border-0">
    <div class="d-flex justify-content-between">
        <p class="ms-4 sunglasses-title">Reyban Genwux 941</p>

        <i class="favoriteIcon fa-regular nav-icon fa-heart  text-warning"></i>

    </div>
    <div class="">
        <img src="~/image/sunglasses/s1.webp" onmouseover="secondImg(this,'s')"
             onmouseleave="FirstImg(this,'s')" alt="..."
             class="card-img-top custom-carousel-image img-fluid rounded-2">

    </div>
    <img src="~/image/for-sale.png" class="position-absolute top-0 start-0 " style="width: 3vw;"></img>

    <div class="card-body p-0 d-flex justify-content-between border-1">

        <div class="align-items-end">
            <small class="discountedPrice">$10110</small>
            <p class="Price"><small>$</small>9675</p>
        </div>
        <div>

            <div class="rate d-inline-flex flex-nowrap align-items-start justify-content-start">

                <input type="radio" name="rateV" value="5" />
                <input type="radio" name="rateV" value="4.5" />
                <input type="radio" name="rateV" value="4" />
                <input type="radio" name="rateV" value="3.5" />
                <input type="radio" name="rateV" value="3" />
                <input type="radio" name="rateV" value="2.5" />
                <input type="radio" name="rateV" value="2" />
                <input type="radio" name="rateV" value="1.5" />
                <input type="radio" name="rateV" value="1" />
                <input type="radio" name="rateV" value="0.5" />

            </div>

        </div>

    </div>
    <button class="add-to-cart">
        <span>Add to cart</span>
        <i class="fa-solid fa-cart-arrow-down"></i>
    </button>
</div>