@page
@model twoGirlsOnlineShop.Pages.Admin.IndexModel
@{
}
<div class="row ">
    <section class="col-12 col-md-6 col-lg-3">
        <a class="bg-custom-skyblue m-3 card text-white" href="#">
            <section class="card-body d-flex justify-content-between ">
                <div class="info-box-body">
                    <h5>32.200 dollars</h5>
                    <small>Net profit</small>
                </div>
                <div class="info-box-icon"><i class="fa-solid fa-chart-pie"></i></div>
            </section>
            <section class="card-footer info-box-footer ">
                <i class="fas fa-clock me-2"></i>Updated at: 21:42 PM
            </section>
        </a>
    </section>
    <section class="col-12 col-md-6 col-lg-3">
        <a class="bg-custom-orange m-3 card text-white" href="#">
            <section class="card-body d-flex justify-content-between ">
                <div class="info-box-body">
                    <h5>32.200 dollars</h5>
                    <small>Net profit</small>
                </div>
                <div class="info-box-icon"><i class="fas fa-chart-line"></i></div>
            </section>
            <section class="card-footer info-box-footer ">
                <i class="fas fa-clock me-2"></i>Updated at: 21:42 PM
            </section>
        </a>
    </section>
    <section class="col-12 col-md-6 col-lg-3">
        <a class="bg-custom-red m-3 card text-white" href="#">
            <section class="card-body d-flex justify-content-between ">
                <div class="info-box-body">
                    <h5>32.200 dollars</h5>
                    <small>Net profit</small>
                </div>
                <div class="info-box-icon"><i class="fa-solid fa-chart-column"></i></div>
            </section>
            <section class="card-footer info-box-footer ">
                <i class="fas fa-clock me-2"></i>Updated at: 21:42 PM
            </section>
        </a>
    </section>
    <section class="col-12 col-md-6 col-lg-3">
        <a class="bg-custom-blue m-3 card text-white" href="#">
            <section class="card-body d-flex justify-content-between ">
                <div class="info-box-body">
                    <h5>32.200 dollars</h5>
                    <small>Net profit</small>
                </div>
                <div class="info-box-icon"><i class="fa-solid fa-dollar-sign"></i></div>
            </section>
            <section class="card-footer info-box-footer ">
                <i class="fas fa-clock me-2"></i>Updated at: 21:42 PM
            </section>
        </a>
    </section>
    <section class="col-12 col-md-6 col-lg-3">
        <a class="bg-custom-pink m-3 card text-white" href="#">
            <section class="card-body d-flex justify-content-between ">
                <div class="info-box-body">
                    <h5>32.200 dollars</h5>
                    <small>Net profit</small>
                </div>
                <div class="info-box-icon"><i class="fa-solid fa-chart-bar"></i></div>
            </section>
            <section class="card-footer info-box-footer ">
                <i class="fas fa-clock me-2"></i>Updated at: 21:42 PM
            </section>
        </a>
    </section>
    <section class="col-12 col-md-6 col-lg-3">
        <a class="bg-custom-yellow m-3 card text-white" href="#">
            <section class="card-body d-flex justify-content-between ">
                <div class="info-box-body">
                    <h5>32.200 dollars</h5>
                    <small>Net profit</small>
                </div>
                <div class="info-box-icon"><i class="fa-solid fa-magnifying-glass-chart"></i></div>
            </section>
            <section class="card-footer info-box-footer ">
                <i class="fas fa-clock me-2"></i>Updated at: 21:42 PM
            </section>
        </a>
    </section>
    <section class="col-12 col-md-6 col-lg-3">
        <a class="bg-custom-green m-3 card text-white" href="#">
            <section class="card-body d-flex justify-content-between ">
                <div class="info-box-body">
                    <h5>32.200 dollars</h5>
                    <small>Net profit</small>
                </div>
                <div class="info-box-icon"><i class="fa-solid fa-comments-dollar"></i></div>
            </section>
            <section class="card-footer info-box-footer ">
                <i class="fas fa-clock me-2"></i>Updated at: 21:42 PM
            </section>
        </a>
    </section>
    <section class="col-12 col-md-6 col-lg-3">
        <a class="bg-custom-purple m-3 card text-white" href="#">
            <section class="card-body d-flex justify-content-between ">
                <div class="info-box-body">
                    <h5>32.200 dollars</h5>
                    <small>Net profit</small>
                </div>
                <div class="info-box-icon"><i class="fa-solid fa-square-poll-vertical"></i></div>
            </section>
            <section class="card-footer info-box-footer ">
                <i class="fas fa-clock me-2"></i>Updated at: 21:42 PM
            </section>
        </a>
    </section>
</div>
<section class="bg-white m-4 rounded p-3 users-section">
    <h3> Users section</h3>
    <small>In this section, you will be given information about users</small>

    <p>
        Lorem Epsom is a mock text with an incomprehensible simplicity produced by the printing industry and
        used by graphic designers. Printers and texts, but newspapers and magazines in columns and rows as
        necessary and for the current conditions of the required technology and diverse applications with
        the aim of improving practical tools. Many books in the sixty-three percent of the past, present and
        future require a lot of knowledge from the society and experts to create more knowledge for computer
        designers, especially creative designers and leading culture in Persian language. In this case, it
        can be hoped that all the difficulty in providing solutions and difficult typing conditions will end
        and the time needed including the typesetting of the main achievements and answering the continuous
        questions of the existing world of design will be basically used.
    </p>
    <p>
        Lorem Epsom is a mock text with an incomprehensible simplicity produced by the printing industry and
        used by graphic designers. Printers and texts, but newspapers and magazines in columns and rows as
        necessary and for the current conditions of the required technology and diverse applications with
        the aim of improving practical tools. Many books in the sixty-three percent of the past, present and
        future require a lot of knowledge from the society and experts to create more knowledge for computer
        designers, especially creative designers and leading culture in Persian language. In this case, it
        can be hoped that all the difficulty in providing solutions and difficult typing conditions will end
        and the time needed including the typesetting of the main achievements and answering the continuous
        questions of the existing world of design will be basically used.
    </p>
    <p>
        Lorem Epsom is a mock text with an incomprehensible simplicity produced by the printing industry and
        used by graphic designers. Printers and texts, but newspapers and magazines in columns and rows as
        necessary and for the current conditions of the required technology and diverse applications with
        the aim of improving practical tools. Many books in the sixty-three percent of the past, present and
        future require a lot of knowledge from the society and experts to create more knowledge for computer
        designers, especially creative designers and leading culture in Persian language. In this case, it
        can be hoped that all the difficulty in providing solutions and difficult typing conditions will end
        and the time needed including the typesetting of the main achievements and answering the continuous
        questions of the existing world of design will be basically used.
    </p>
</section>

@section AdminSearchBox {
    <i class="fa fa-search search-show"></i>
    <form class=" search-area ">
        <button type="submit" class="bg-transparent border-0"> <i class="fa fa-search"></i></button>
        <input class="h-50" type="text" placeholder="Search..." name="filter" id="">
        <a href="/admin/users"><i class="fa fa-close"></i></a>
    </form>

}