@page
@model twoGirlsOnlineShop.Pages.Admin.Categories.RecoverModel

@{
    ViewData["Title"] = "Recover Category";
}
<div class="container">
    <h1>Recover</h1>

    <div class="alert alert-success">Are you sure you want to Recover this Category?</div>
    <br />
    <div class="d-flex justify-content-around align-items-center">
        <dl class="col row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@Model.Category.Name</dd>

            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@Model.Category.Description</dd>
        </dl>

        <form method="post" class="text-nowrap">
            <input type="hidden" asp-for="@Model.Category.Id" />
            <button type="submit" class="btn btn-success">
                Recover <i class="fa-solid fa-recycle"></i>
            </button> |
            <a href="/admin/Categories" class="btn btn-dark">Back to List <i class="fa-solid fa-rotate-left"></i></a>
        </form>
    </div>
</div>
@section AdminSearchBox {
    <i class="fa fa-search search-show"></i>
    <form class=" search-area ">
        <button type="submit" class="bg-transparent border-0"> <i class="fa fa-search"></i></button>
        <input class="h-50" type="text" placeholder="Search..." name="filter" id="">
        <a href="/admin/Categories/DeletedCategories"><i class="fa fa-close"></i></a>
    </form>

}