@using TwoGirls.Core.DTOs;
@using TwoGirls.DataLayer.Entities
@model User

@{
    ViewData["EmailTitle"] = "Welcome!";
    Layout = "_EmailLayout";
}

<p>
    We received a request to reset the password for your account associated with the email @Model.Email. To reset your password,. Just press the button below.
</p>

<br />

@await Html.PartialAsync("_EmailButton", new EmailButtonViewModel("Reset Password", $"https://Twogirls.somee.com/Account/ResetPassword/{Model.ActiveCode}"))

<br />

<p>
    If you did not request to reset your password, please ignore this email.

    Please note that this link is only valid for the next 24 hours. If you do not reset your password within this time, you will need to submit another request.

    Thank you,
</p>

<br />

<p>
    The TwoGirs Team
</p>
