@model TwoGirls.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}
@section style{
    <link rel="stylesheet" href="~/css/Account-Style.css" asp-append-version="true">
}
@{
    var alertStatus = ViewBag.isSuccess;
    var alertText = ViewBag.alertText;
}
<img src="~/image/loginheader.jpg" alt="" class="Page_banner">
<div class="container-xl my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
        </ol>
    </nav>
    <div class=" row">
        <section class="col-12 col-md-7 mb-5">
            @if (alertStatus != null)
            {
                @if (alertStatus)
                {
                    <div class="alert alert-success">
                        @alertText
                    </div>
                }
                else if (alertStatus == false)
                {
                    <div class="alert alert-danger">
                        <h4 class="alert-heading">Oops!</h4>
                        @alertText
                    </div>
                }
            }
        
            <p class="h1">Forgot Password</p>
            <form asp-action="ForgotPassword" method="post">
                <div class="mb-3">
                    <label asp-for=Email class="form-label">E-mail address *</label>
                    <input asp-for=Email type="email" placeholder="Email *" class="form-control">
                    <span asp-validation-for="Email" class="text-tomato"></span>

                    <a asp-action="Login" asp-controller="Account">Login !</a>

                </div>

                <button type="submit" class="btn-login"> Send Recovery code </button>

            </form>

        </section>
        <section class="col-12 col-md-5">
            <p class="h2">Are you not registered?</p>
            <p class="fw-bolder">Register now to enjoy a unique shopping experience.</p>
            <ul class="sign-in-benefit">
                <li>
                    <i class="fa-regular fa-user"></i>
                    <p>Check the details and monitor the status of your orders and returns</p>
                </li>
                <li>
                    <i class="fa-regular fa-heart"></i>
                    <p>Create wishlists to save and share your favorite items</p>
                </li>
                <li>
                    <i class="fa-regular fa-star"></i>
                    <p>View your private appointments and repairs requests </p>
                </li>
            </ul>
            <a class="btn-create-new-account" asp-area="" asp-controller="Account" asp-action="Register">CREATE NEW ACCOUNT</a>
        </section>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}