@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/*overide css class bootstrap*/

.active > .page-link, .page-link.active {
    background-color: #f3ca20 !important;
    border-color: #f3ca20 !important;
}

.page-link {
    color: black !important;
    border: var(--bs-pagination-border-width) solid #f3ca20 !important;
}

.spinner-border {
    height: 60px;
    width: 60px
}
/*overide css class bootstrap end*/
.spinner-wrapper {
    background-color: rgba(255,255,255,0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 9999;
    transition: all 0.2s;
}

img {
    max-width: 100%;
    height: auto;
}
.page-header {
    width: 100%;
    max-height: 40vh;
    object-fit: cover;
    object-position: center center;
}
body{
    font-family: 'DM Sans', sans-serif;
}
@media only screen and (max-width: 768px) {
    #product-detail {
        padding: 0 20px;
    }
}
.fs-14{
font-size: 14px;
}
.container,.container-lg{
    padding: 0;
}
.detail-product-card-img {
    object-fit: contain;
    object-position: center center;
    display: inline-block;
}

.detail-product-card {
    background-image: linear-gradient(135deg, rgba(255, 255, 254, 0.3) 0%,rgba(248, 249, 221, 0.5) 31%,rgba(239, 238, 160, 0.7) 100%);
    margin: 3px;
    border: 1px solid #dadada;
    border-radius: 20px;
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

#detail-product-slider .custom-carousel-item {
    width: calc(25% - 6px);
    margin: 3px;
    border: 1px solid #dadada;
    background-image: linear-gradient(135deg, rgba(255, 255, 254, 0.3) 0%,rgba(248, 249, 221, 0.5) 31%,rgba(239, 238, 160, 0.7) 100%);
    border-radius: 15px;
    padding: 0;

}

#detail-product-info .rate input {
    width: 12px;
    height: 30px;
}

#detail-product-info .rate {
    margin-right:0;
    bottom: 0px;
}
#detail-product-info .rate input::before {
    font-size: 20px;
}
#product-detail .discountedPrice {
    font-size: 15px
}
#product-detail .Price {
    font-size: 25px;
    font-weight: 500;
}
#product-detail .add-to-cart {
    border-radius: 5px;
    font-size: 20px;
    width: 200px;
    padding: 0.5vw 1vw;
    text-align: center;
    cursor:pointer;
}

.detail-product-descriptions{
    text-align: justify;
}
.user-review {
    border: 1px solid #dadada;
    background-color: #ffff;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}
.review-header{
background-color: #FBFBFB;
padding: 15px;
margin: 5px 0;
border-top: #dadada80 1px solid;
}
.sort-by-container{
    width: 150px;
    padding: 0.1875rem 0.5rem;
    margin: 5px;
    height: 32px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    text-decoration: none;
    color: rgb(32, 32, 32);
}
.sort-by{
    border :none;
    outline:none;
    width: 100%;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: rgba(67,67,67,.5);
}
.btn-write{
    width: 150px;
    padding: 0.1875rem 0.5rem;
    margin: 5px;
    height: 32px;
    font-size: 14px;
    line-height: 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(32, 32, 32);
}
#product-detail .progress, .progress-stacked {
    --bs-progress-height: .65rem;
    border-radius: 0;
    margin: 0 2px
}
#product-detail .comment-time{
    color: rgb(132 132 133 / 75%);
}