@using TwoGirls.Core.DTOs;
@model OrderViewModels
@section style{
    <link rel="stylesheet" href="~/css/Order.css" asp-append-version="true">
}
@{
    ViewData["Title"] = "Order Detail";
}
<img src="~/image/Banner/card-payments-page-banner.jpg" alt="" class="Page_banner">
<div class="container-xl my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Order Detail</li>
        </ol>
    </nav>
    <div class=" row">
        <section class="col-12 col-md-7 mb-5">
            @if (ViewBag.showAddressError == true)
            {
                <div class="alert alert-danger">
                    <h4 class="alert-heading">Oops!</h4>
                    Please Select an Address first then try again!
                </div>
            }
            @if (!Model.Cart.IsClose)
            {
                ViewBag.showRadio = true;
                <div id="FailedAddressRemove" class="alert alert-danger d-none">
                    <h4 class="alert-heading">Oops!</h4>
                    Something is wrong, try again!
                </div>
                <p class="h4">Your Addresses</p>
                <br>
                <div id="addressesList">
                    @await Html.PartialAsync("UserPanel/_UserAddresses",Model.Addresses)
                </div>
                <hr />
                <p class="h5">Add new Address </p>
                <div id="AddAddressPartial">
                    @await Html.PartialAsync("UserPanel/_AddUserAddress", Model.Address)
                </div>
            }
            else
            {
                ViewBag.DontshowBtnDlt = true;
                <p class="h4">Shipping Address</p>
                <br>
                <div id="addressesList">
                    @await Html.PartialAsync("UserPanel/_UserAddresses",Model.Addresses)
                </div>
            }
        </section>
        <section class="col-12 col-md-5">
            <div class="basket-order">
                <div class="app-bar">
                    <img src="~/image/Twogirls-logo-dark.PNG" class="logo">
                </div>
                <span class="title">Your cart</span>
                <div id="update-Basket-component">
                    @await Component.InvokeAsync("OrderComponent",Model.Cart)
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script>
        $('.radioAddressId-js').on('click', function () {
            addAddressIdToForm(this);
        });

        function addAddressIdToForm(radiobtn) {
            const addressIdForOrder = $('#addressIdForOrder');
            var hiddenInput = document.createElement("input");
            hiddenInput.type = "hidden";
            hiddenInput.name = "addressId";
            hiddenInput.value = radiobtn.value;
            addressIdForOrder.empty(); 
            addressIdForOrder.append(hiddenInput);
        }
    </script>
    }