@page
@model twoGirlsOnlineShop.Pages.Admin.Permissions.DeleteModel
@{
}
@{
    ViewData["Title"] = "Delete Role";
}
<div class="container">
    <h1>Recover</h1>

    <div class="alert alert-danger">Are you sure you want to Delete this Role?</div>
    <br />
    <div class="p-4 row justify-content-around align-items-center alert alert-secondary">

        <div class="col flex-nowrap">
            <span class="col-sm-2 h5">Role Title: </span>
            <span class="col-sm-10"> @Model.Role.RoleTitle</span>
        </div>
        <div class="col text-end"> 
        <form method="post" class="text-nowrap">
            <input type="hidden" asp-for="@Model.Role.RoleId" />
                <button type="submit" class="btn btn-danger" >
                Delete <i class="fa-regular fa-trash-can"></i>
                </button>|
                    <a href="/admin/Permissions" class="btn btn-dark">Back to List <i class="fa-solid fa-rotate-left"></i></a>
        </form>
        </div>
    </div>
</div>
@section AdminSearchBox {
    <i class="fa fa-search search-show"></i>
    <form class=" search-area ">
        <button type="submit" class="bg-transparent border-0"> <i class="fa fa-search"></i></button>
        <input class="h-50" type="text" placeholder="Search..." name="filter" id="">
        <a href="/admin/users"><i class="fa fa-close"></i></a>
    </form>

}